@import url('./root.css');

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/Segoe\ UI.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

.ff-segeoiUI {
    font-family: 'Segoe UI';
}

/* .hero-sec-bg {
    background-image: url('../images/hero-bg-img.png'), url("../images/hero-bg-img2.png");
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;


} */
/* microsoft startup section */
.startup-container {
    max-width: 800px !important;
}

.mxw-683 {
    max-width: 683px;
}

.lh-148 {
    line-height: 148%;
}

/* whats new section */
.whatsNew-container {
    max-width: 1624px !important;
}

.bottom-line {
    border-bottom: 1px solid #000;
}

.position-plus {
    position: absolute;
    right: 0;
    bottom: 2%;
}

/* founer hub section */
.founder-container {
    max-width: 915px !important;
}

.founder-btn {
    border: none;
    border-radius: 5px;
    padding: 14px 42px;
}

/* beneits section */
.beneits-container {
    max-width: 1580px !important;
}

.mxw-828 {
    max-width: 828px;
}

.beneits-card {
    max-width: 253px;
    filter: drop-shadow(0px 3.076772689819336px 7.69193172454834px rgba(0, 0, 0, 0.25));
    background-color: var(--light-white);
    padding: 69px 35px;
    height: 100%;
}

.benefits-btn {
    padding: 33px 41px;
    border-radius: 5px;
    border: none;
}

.benefits-btn2 {
    padding: 33px 41px;
    border-radius: 5px;
    border: none;
}

.benefits-btn3 {
    padding: 33px 41px;
    border-radius: 5px;
    border: none;
}

/* technplogy section */
.technology-container {
    max-width: 1565px !important;
}

.technology-card {
    max-width: 492px;
    border: 3px solid var(--purple-2);
    border-radius: 5px;
    height: 100%;
}

.mxw-390 {
    max-width: 390px;
}

.mxw-442 {
    max-width: 442px;
}

.mxw-411 {
    max-width: 411px;
}

.h-108 {
    height: 108px;
}

.mxw-523 {
    max-width: 523px;
}

.pb-96 {
    padding-bottom: 96px !important;
}

/* partnership section */
.mxw-925 {
    max-width: 925px;
}

.text_center {
    text-align: -webkit-center;
}

.partnership-card {
    min-width: 300px;
    max-width: 492px;
    border: 3px solid var(--light-white);
    border-radius: 5px;
    padding: 52px;
    height: 100%;
    padding-bottom: 14px;
}

.mxw-190 {
    max-width: 190px;
}

/* footer */
.lh-139 {
    line-height: 139%;
}

.position-icons {
    position: absolute;
    left: 3%;
    bottom: 0%;
}

.social-icons {
    transition: .4s;
}

.social-icons:hover {
    transform: translateY(-5px);
}


/* media screens  */
@media (min-width:576px) {
    .position-icons {
        position: absolute;
        left: 12%;
        bottom: 0%;
    }
}

@media (min-width:1200px) {
    .position-icons {
        position: absolute;
        left: 82%;
        bottom: 30%;
    }
}